form{
    .botonEnviar{
        background-color: rgb(233, 113, 177);
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        
        }
        .botonForm{
            display: flex;
        }
    .campoForm{
        background-color: rgb(243, 209, 227);
        padding: 12px 60px 12px 60px;
        border-style: solid;
        border-width: thin;
        border-color: white;
    }
    .campoUno{
        @extend .campoForm;
        margin-right: 5px;
        
    }
    .campoDos{
        @extend .campoForm;
        margin-left: 5px;
    }
    .textoAclaracion{
        @extend .parrafos;
        font-size: x-small !important;
        color: gray;
    }
}