header{
    width: 100%;
    display: flex;
    justify-content: space-between;
        img{
            height: 100px;
            margin-left: 10px;
            margin-top: 10px;
            transition: 1s all;
            &:hover{
                height: 110px;
                margin-left: 5px;
            }
        }
        .navlogo{
            display: block;
            width: 75%;
        }
        .navbar{
            background-color: transparent !important;
        }
    }

